#**Trabalhando com Planilhas do Excel**

In [2]:
#Importando a biblioteca
import pandas as pd

In [4]:
#Leitura dos arquivos
df1 = pd.read_excel("Aracaju.xlsx")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [5]:
df5.head()

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3

In [6]:
#juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [7]:
#Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [8]:
#Exibindo as 5 Ãºltimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [9]:
df.sample(5)

       Cidade       Data  Vendas  LojaID  Qtde
127     Natal 2019-01-02  240.61    1035     3
98   Salvador 2019-01-01  231.76    1036     3
84    Aracaju 2018-01-01   40.98    1520     5
21     Recife 2019-01-01  164.74     983     1
40      Natal 2018-01-10  885.00     853     3

In [10]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [11]:
#Alterando o tipo de dado da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [12]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [13]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

**Tratando valores faltantes**

In [14]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#Substituindo os valores nulos pela mÃ©dia
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [ ]:
df["Vendas"].mean()

122.9339571589626

In [15]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [16]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
201   Salvador 2019-01-02   86.61   1036     1
42       Natal 2019-03-02  775.00    854     2
169   Salvador 2019-01-02  166.73   1037     2
25     Aracaju 2018-01-01   34.66   1521     8
86   Fortaleza 2019-01-01   42.11   1004     3
74       Natal 2019-03-10  303.00    854     3
115  Fortaleza 2019-03-02   12.23    981     3
170      Natal 2019-01-02    9.26   1035     3
19     Aracaju 2018-01-01   43.96   1520     9
219      Natal 2019-01-02   19.67   1037     2
11   Fortaleza 2019-01-01   42.19   1003     3
3        Natal 2019-01-07  271.00    854     3
30     Aracaju 2018-01-01  119.21   1520     8
205   Salvador 2019-01-02  196.09   1037     1
116    Aracaju 2018-01-01   48.44   1522     4

In [ ]:
#Substituindo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [ ]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [ ]:
#Apagando as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=["Vendas"], inplace=True)

In [ ]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

**Criando colunas novas**

In [17]:
#Criando a coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [18]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [19]:
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [20]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [21]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [22]:
#Retornando a menor receita
df["Receita"].min()

3.34

In [23]:
#nlargest
df.nlargest(3, "Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [25]:
#nsamllest
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34   1522     1     3.34             1.0
65    Recife 2019-01-01    4.01    981     1     4.01             1.0
92     Natal 2019-01-02    4.57   1035     1     4.57             1.0

In [26]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [27]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
52  Natal 2018-04-27   778.0    854     4   3112.0             4.0

#**Trabalhando com datas**

In [28]:
#Trasnformando a coluna de data em tipo inteiro
df["Data"] = df["Data"].astype("int64")

In [29]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade             object
Data                int64
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [30]:
#Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [31]:
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [32]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [33]:
#Criando uma nova coluna com o ano
df["Ano_Venda"] = df["Data"].dt.year

In [34]:
df.sample(5)

        Cidade       Data  Vendas  ... Receita  Receita/Vendas  Ano_Venda
80   Fortaleza 2019-01-01   47.88  ...   95.76             2.0       2019
24    Salvador 2019-01-01   15.60  ...   31.20             2.0       2019
5     Salvador 2019-01-01  179.20  ...  537.60             3.0       2019
2        Natal 2019-03-11  308.00  ...  924.00             3.0       2019
160      Natal 2019-01-02   11.76  ...   11.76             1.0       2019

[5 rows x 8 columns]

In [35]:
#Extraindo o mÃªs e o dia
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)

In [36]:
df.sample(5)

        Cidade       Data  Vendas  ... Ano_Venda  mes_venda  dia_venda
58     Aracaju 2018-01-01   37.14  ...      2018          1          1
81    Salvador 2019-01-01   17.36  ...      2019          1          1
36   Fortaleza 2019-01-01   36.31  ...      2019          1          1
145   Salvador 2019-01-02   84.62  ...      2019          1          2
96      Recife 2019-01-01  165.36  ...      2019          1          1

[5 rows x 10 columns]

In [37]:
#Retornando a data mais antiga
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [38]:
#Calculando a diferenÃ§a de dias
df["diferenca_dias"] = df["Data"] - df["Data"].min()

In [39]:
df.sample(5)

       Cidade       Data  Vendas  ... mes_venda  dia_venda  diferenca_dias
111     Natal 2019-01-02  147.35  ...         1          2        366 days
109  Salvador 2019-03-02  124.37  ...         3          2        425 days
93    Aracaju 2018-01-01  188.70  ...         1          1          0 days
146     Natal 2019-01-02  149.88  ...         1          2        366 days
41     Recife 2019-02-13  157.78  ...         2         13        408 days

[5 rows x 11 columns]

In [40]:
#Criando a coluna de trimestre
df["trimestre_venda"] = df["Data"].dt.quarter

In [41]:
df.sample(5)

       Cidade       Data  Vendas  ... dia_venda  diferenca_dias  trimestre_venda
94      Natal 2019-01-02   33.24  ...         2        366 days                1
150     Natal 2019-01-02   11.13  ...         2        366 days                1
54    Aracaju 2018-01-01   20.85  ...         1          0 days                1
21   Salvador 2019-01-01   39.72  ...         1        365 days                1
113   Aracaju 2018-01-01   23.05  ...         1          0 days                1

[5 rows x 12 columns]

In [42]:
#Filtrando as vendas de 2019 do mÃªs de marÃ§o
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]

In [43]:
vendas_marco_19.sample(20)

        Cidade       Data  Vendas  ... dia_venda  diferenca_dias  trimestre_venda
136     Recife 2019-03-02   39.09  ...         2        425 days                1
126     Recife 2019-03-02   41.87  ...         2        425 days                1
125  Fortaleza 2019-03-02   37.60  ...         2        425 days                1
131   Salvador 2019-03-02   63.48  ...         2        425 days                1
71       Natal 2019-03-20  840.00  ...        20        443 days                1
127   Salvador 2019-03-02  240.61  ...         2        425 days                1
108   Salvador 2019-03-02   11.72  ...         2        425 days                1
131     Recife 2019-03-02  139.07  ...         2        425 days                1
130     Recife 2019-03-02   12.36  ...         2        425 days                1
5        Natal 2019-03-30  674.00  ...        30        453 days                1
124   Salvador 2019-03-02   44.82  ...         2        425 days                1
128   Salvador 2019-03-02   36.84  ...         2        425 days                1
139     Recife 2019-03-02  141.16  ...         2        425 days                1
18       Natal 2019-03-14  581.00  ...        14        437 days                1
108  Fortaleza 2019-03-02  152.89  ...         2        425 days                1
117     Recife 2019-03-02   15.42  ...         2        425 days                1
126  Fortaleza 2019-03-02   41.87  ...         2        425 days                1
109     Recife 2019-03-02   18.90  ...         2        425 days                1
122   Salvador 2019-03-02   13.27  ...         2        425 days                1
135  Fortaleza 2019-03-02   10.79  ...         2        425 days                1

[20 rows x 12 columns]